@page
@model ASAssignment.Pages.AboutMeModel
@{
    //var decodedAboutMe = System.Text.Encoding.UTF8.GetString(System.Convert.FromBase64String(Model.AboutMe));
}

<div class="about-me">
    <h2>About Me</h2>
    <p>@Model.AboutMe</p>
</div>